.andiv {

  margin: 50px;
}
.example-card {
  display: flex;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.super {
  display: grid;
  position: relative;
  grid: auto /auto auto auto;
  grid-gap: 10px;
}


