.andiv {

  margin: 50px;
}
.example-card {
font-size: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.super {
display:grid;
grid-gap: 10px;
grid-auto-columns: max-content;
grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}


