<div class="andiv">
  <h2>Verwaltung der Veranstaltungen</h2>




  <div class="super">
    @for (number of datasource;track datasource){
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{number.veranstaltungName}}</mat-card-title>
          <mat-card-subtitle>{{number.veranstalter?.veranstalterName}}</mat-card-subtitle>
          <a>{{number.status}}</a>
        </mat-card-header>
        <mat-card-content>
          <p>
            Beschreibung: {{number.beschreibung}} <br>
            Ort: {{number.adresse?.land+ " "+ number.adresse?.plz + " " + number.adresse?.ort}}<br>
            Straße: {{number.adresse?.strasse }}<br>
            Anzahl Gebuchter Tickets: {{number.benutzer?.length}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton (click)="doSpeichern(number, false)">EDITIEREN</button>
          @if (number.status == 'Inaktiv') {
          <button matButton (click)="doSpeichern(number, true)">AKTIVIEREN</button>
          }
          @if (number.status == 'Aktiv') {
          <button matButton (click)="doSpeichern(number, true)">SPERREN</button>
          }
          <button matButton (click)="doLoeschen(number.id)">LÖSCHEN</button>
        </mat-card-actions>
      </mat-card>
    }

  </div>











</div>
