

<body>


<h1>Wilkommen im Admin bereicht</h1>
<div class="card">



<mat-card style=" grid-column: 1;" (click)="doRoute('user/verwaltung')" >
  <mat-card-header>
    <mat-card-title>
      User Verwalten
    </mat-card-title>
  </mat-card-header>
<mat-card-content >
  <a>Verwaltund der User rechte und Profil Aktivitäten</a>
</mat-card-content>
</mat-card>

  <mat-card style=" grid-column: 2;"(click)="doRoute('veranstaltung/verwaltung')">
    <mat-card-header>
      <mat-card-title>
        Veranstaltungen Verwalten
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a>Verwaltund der User rechte und Profil Aktivitäten</a>
    </mat-card-content>
  </mat-card>

  <mat-card style=" grid-column: 1;"(click)="doRoute('rechnungen/verwaltung')">
    <mat-card-header>
      <mat-card-title>
        Rechnungen Verwalten
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a>Verwaltund der User rechte und Profil Aktivitäten</a>
    </mat-card-content>
  </mat-card>

  <mat-card style=" grid-column: 2;"(click)="doRoute('antraege/verwaltung')">
    <mat-card-header>
      <mat-card-title>
        Anträge Verwalten
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a>Verwaltund der User rechte und Profil Aktivitäten</a>
    </mat-card-content>
  </mat-card>
</div>

</body>

