.navbar {
  height: 50px;
  background-color: white;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.navbarEnd {
  display: flex;
  gap: 10px;
}


:host-context {

  background-image: none;
}

img {

  width: 50px;
}

.admin-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
}

.admin-card:hover {
  transform: translateY(-5px);
}


