<div class="andiv">
<h2>Verwaltung der User</h2>

  <div class="super">
  @for (number of lauf;track lauf){
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Rolle: User <br>
        Zuletzt Online: 23 Tagen <br>
        Vergangene Events: wwwww
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>SPERREN</button>
      <button matButton>LÖSCHEN</button>
    </mat-card-actions>
  </mat-card>
  }

  </div>











</div>
