.container{
  margin: 1.5rem;
}

.card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  max-width: 400px;
  flex: 1;
}

.header-image {
  background-image: url("/Veranstalter-temp.png");
  background-size: cover;
}
