<div class="container">
  <h2>Event verwaltung</h2>
  <div class="card-container">
    @if (veranstaltungen.length > 0) {
      @for (Veranstaltung of veranstaltungen; track Veranstaltung.id) {
        <mat-card class="card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar (click)="navigate('/veranstalter')" class="header-image"></div>
            <mat-card-title (click)="navigate('/veranstalter')">{{ Veranstaltung.veranstaltungName }}</mat-card-title>
            <mat-card-subtitle>{{Veranstaltung.veranstalter}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image (click)="openDetails(Veranstaltung)" src="Event-temp.png" alt="Event" height="250" width="400">
          <mat-card-content>
            <p>{{Veranstaltung.beschreibung}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button matButton (click)="cancelBooking(Veranstaltung.id)">Stornieren</button>
          </mat-card-actions>
        </mat-card>
      }
    } @else {
      <p>Keine Veranstaltung vorhanden.</p>
    }
  </div>
</div>
